
.controllers{
	position:fixed;
	bottom:80px;
  z-index: 1000000;
  display: flex;
  height:60px;
  width:100vw;
  margin:4px;
  overflow-y: auto;
  justify-content: end;
  /* flex-direction: column; */
}  

.front {
    will-change: transform;
    transition: transform 250ms;
  }

.pushable{
	all: unset; 
}
  .pushable:hover .front {
    transform: translateY(-6px);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
  }

.pushable {
  background: hsl(340deg 100% 32%);
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  margin: 0px 10px;
}
.front {
  display: block;
  padding: 8px 24px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-4px);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}