.click-area {
position: relative;
width: 100%;
height: 100vh;
cursor: pointer;
overflow: hidden;
}

.dolphin {
position: absolute;
bottom: 0;
width: 50px;
pointer-events: none;
transform-origin: center bottom;
}


@keyframes dolphinJumpLeft {
0% { transform: translate(0,0) rotate(0deg); }
25% { transform: translate(-80px,-180px) rotate(-15deg); }
50% { transform: translate(-160px,-120px) rotate(-30deg); }
75% { transform: translate(-210px,-90px) rotate(-45deg); }
100% { transform: translate(-250px,0) rotate(-60deg); }
}


.jump-left {
animation: dolphinJumpLeft 1.8s ease-out forwards;
}