/* importeret skrifttype*/
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Londrina+Solid:wght@100;300;400;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ---------------------------------------------------------
Body og landingpage stil
--------------------------------------------------------- */
/* styling af body og baggrund*/
body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-size: 100% 100%;
  overflow: hidden;
  background-image: linear-gradient(#579ad1, #0061ff, #ffffff);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* placere landingpage elementer i midten */
.landing {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* ---------------------------------------------------------
tekst stil
--------------------------------------------------------- */
/* landing page tekst stil */
.landing h1,
.landing p {
  font-family: "Londrina Solid", sans-serif;
  text-align: center;
  font-size: 3rem;
  color: black;
}

/* ---------------------------------------------------------
Main characther (nutte og vandmand)
--------------------------------------------------------- */
/* størrelse på main character */
.mainCharacterHolder {
  height: 75vh;
  width: 100vw;
}

/* animation til nutte og vandmand*/
.mainCharacterHoldet {
  animation: float 4s ease-in-out infinite;
}

/* Keyframes for mild floating animation */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* ---------------------------------------------------------
Knapper
--------------------------------------------------------- */
.optionsBtnHolder {
  display: flex;
  gap: 1vw;
}
.optionsBtn {
  background-color: #72a8c5;
  border: #579ad1 0.2em solid;
}

.optionsBtn h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
}
