/* ---------------------------------------------------------
root
--------------------------------------------------------- */
:root {
  --sten-lift: -250px; 
  --sand-lift: -247px; 
}
/* ---------------------------------------------------------
Global reset
--------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------------------------------------------------
baggrund og body
--------------------------------------------------------- */
html, body{
  margin:0;
	height: fit-content;
	background: linear-gradient(#A2BFEB 0%, #315B9A 77%);
	position:relative;
  overflow: hidden; /* disables scroll */
}

header{
  position: absolute;
  z-index: 100;
  top:0;
  right:0;
  margin:8px;
}

/* ---------------------------------------------------------
Knapper til navigation
--------------------------------------------------------- */

/* knapper position*/

.navigationBtnHolder {
  position: absolute;
  z-index: 100; /* sikker på at man altid knap trykke på knapperne*/
  display: flex;
  gap: 2vw;
  justify-content: center;
  margin-right: 1em;
  width: 100vw;
  pointer-events: auto;
  bottom: 395vh; /* flytter knapperne til bunden af første udsnit af skærmen*/
  right: -40vw; /* flytter knapperne til højre side*/
}
/* styling af knapper*/
.navigationsBtn {
  background-color: rgba(
    114,
    168,
    197,
    0.3
  ); /* Genemsigtig blå baggrund, 0.3 betyder 30% synligt */
  border: #adcfeb 0.2em solid;
  border-radius: 2em; /* skaber runde kanter*/
  padding: 0.8em 2em; /*afstand mellem tekst og kant*/
  min-width: 10em; /*minimum bredde, så stadigvæk læsbart*/
}

/* styling af tekst til knapper*/
.navigationsBtn h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0; /* fjern standard margin*/
  opacity: 1; /*sikker på at tekst er synlig*/
}

/*hover effekt på knapper*/
.navigationsBtn:hover {
  background-color: rgba(114, 168, 197, 0.5); /* øger synlighed ved hover*/
  transform: scale(1.05); /* let forstørrelse ved hover*/
  transition: all0.3s ease; /* glidende overgang*/
}


/* ---------------------------------------------------------
taleboble
--------------------------------------------------------- */
.speak-bubble{
  background: url('./../assets/svg/speak-bubble.svg') no-repeat;
  height:200px;
  width:200px;
}

.speak-bubble *{
  position: absolute;
}

/* ---------------------------------------------------------
home og leg
--------------------------------------------------------- */

.home{
  position: absolute;
	font-size:22px;
	width: 200px;
	height:200px;
  top: 40px;
  left: 50px;
  transform: scale(.5);
    animation: floating 2s ease-in-out infinite alternate;

}

@keyframes floating {
  from { transform: translateY(0px); }
  to { transform: translateY(15px); }
}

.home svg{
  height: 100%;
  height:100%;

}

.leg{
	animation:legAnim 4s infinite;
}

@keyframes legAnim{
	from{transform:rotateY(15deg)}
	to{transform:rotateY(-15deg)}
}

/* ---------------------------------------------------------
items
--------------------------------------------------------- */

.items {
  position: fixed;
  top: 10px;
  width: 100vw;
  display: flex;
  gap: 10px;
  z-index: 100;
  justify-content: center;
}

.items img {
    width: 50px;
    height: 50px;
}
.item {
  width: 70px;
  transition: filter 0.3s ease;
}

.carried-trash {
  animation: wiggle 0.6s infinite ease-in-out alternate;
}


/* ---------------------------------------------------------
fisk
--------------------------------------------------------- */

.fish {
  position: absolute; 
  animation: swimFish 14s linear infinite;
  height:300px;
  width:auto;
}

@keyframes swimFish {
  0% {
    left: 100%;
    
  }
  100% {
    left: 0;
  }
}


.reje{
  position: relative;
  bottom:120px;
  transform: scale(.2);
  z-index: 100;
}

.swimmer {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height:140px;
	transition:ease all .1s;
}

.dory {
  position: absolute;
  animation: dorySwim  7s ease-in-out infinite;
  top: 2500px;
}

@keyframes dorySwim {
  0% {
    right: 100% 
  }

  100% {
    right: 0;
  }
}

.fiskVar1 {
  position: absolute;
  animation: fiskVar1Swim 11s linear infinite;
  top: 500px;
}

@keyframes fiskVar1Swim {
    0% {
    right: 100% 
  }

  100% {
    right: 0;
  }
}

.fiskVar2 {
  position: absolute;
  animation: fiskVar2Swim 11.5s linear infinite;
  top: 480px;
}

@keyframes fiskVar2Swim {
    0% {
    right: 100% 
  }

  100% {
    right: 0;
  }
}

.fiskVar3 {
  position: absolute;
  animation: fiskVar3Swim 12s linear infinite;
  top: 520px;
}

@keyframes fiskVar3Swim {
    0% {
    right: 100% 
  }

  100% {
    right: 0;
  }
}

.nemo {
    position: absolute; 
    animation: nemoSwim 7s ease-in infinite;
    top: 2000px;
}

@keyframes nemoSwim {
0% {
  right: 100%;
}

100% {
  right: 0%;
}
}

/* ---------------------------------------------------------
prut-bobler
--------------------------------------------------------- */

.fart-bubble {
  position: absolute;
  width: 30px; 
  height: 30px;
  z-index:200;
  pointer-events: none;
  background-image: url('../assets/svg/speak-bubble.svg');
  background-size: cover;
  filter: hue-rotate(90deg); /* gør den grønlig */
  transform-origin: center center;
  animation: bubblePop 0.5s infinite;
}

.fart-bubble {
  position: absolute;
  width: 30px; 
  height: 30px;
  z-index:200;
  pointer-events: none;
  /* background-image: url('../assets/svg/fart2.svg'); */
  background-size: cover;
  filter: hue-rotate(90deg); /* gør den grønlig */
  transform-origin: center center;
  animation: bubblePop 0.5s infinite;
}

.fart-bubble:nth-child(1n) {
  background-image: url('../assets/svg/fart1.svg');
}

.fart-bubble:nth-child(2n) {
  background-image: url('../assets/svg/fart3.svg');
}

.fart-bubble:nth-child(3n) {
  background-image: url('../assets/svg/fart2.svg');
}

@keyframes bubblePop {
  0% {
    transform: translateY(0) scale(0.5);
  }
  50% {
    transform: translate(10px, -60px) scale(1);
  }
  100% {
    transform: translate(-10px, -100px) scale(0.3);
  }
}

/* ---------------------------------------------------------
forgrundselementer
--------------------------------------------------------- */

.seaweed {
  animation: wiggle 2s infinite ease-in-out alternate;
}
@keyframes wiggle {
  from { transform: rotate(-5deg); }
  to { transform: rotate(5deg); }
}

.sten {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  width: 100%;
  height: auto;
  min-width: 100%;
  display: block;
  bottom:0;
  /* transform: translateY(var(--sten-lift));  */
}

.sand {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-width: 100%;
  display: block;
  z-index: 1; 
  /* transform: translateY(var(--sand-lift)); */
  pointer-events: none; /

}

.trash{ 
  height:70px;
  width:auto;
}






